{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
        <header></header>
        <div class = "section">
            <div class="container">
                <h1>Welcome to Funight!</h1>
                <h3>Can't decide what to do for your date night?</h3>
                <br />

                <h3>Funight has got your back.</h3>
                <br />
                <h2>Are you ready to enjoy?</h2>

                <button id="releaseButton">Yes! But Balloons first</button>
                <a href="login.html">Log In</a><p>or</p><a href="register.html">Register</a>
            </div>
            <link href="design/style.css" rel="stylesheet">
        </div>
        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>
                <source src="http://127.0.0.1:5000/funight/multicolored-clouds.1920x1080.mp4" type="video/mp4">
            </video>
        </div>
{% endblock %}
