{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <form action="/">
        <header></header>
        <section>
            <div class="container">
                <h1>About Us</h1>
                <h2>Welcome to Funight! Your Ultimate Date Night Generator!!!</h2>
                <h3>At Funight, we understand that deciding on the perfect date night can sometimes feel like a challenge. That's why we've crafted a unique online experience to take the stress out of planning and bring more fun to your evenings, so you can just focus on the fun and excitement!</h3>
                <br />

                <h2 text="bold">How It Works:</h2>
                <p>Indoor or Outdoor? Choose your preferred setting – a cozy night indoors or an adventurous evening outdoors. We've got ideas for every mood.</p>
                <p>Randomly Generated Ideas: Click the magic "Generate" button, and voila Funight will present you with a random selection of ideas, ensuring spontaneity and fun in every decision.</p>
                <p>Customization: Your preferences matter! Add your favorite meal and dessert options, suggest activities you love, and define how you want to wrap up the night Funight isn't just a tool; it's an extension of your unique relationship.</p>
                <p>Experience History: Was there a funight experience you particularly liked? It'll show up in your history! Save those funight experiences for easy recall and recreate those memories!</p>
                <p>Banish the Mundane: Say goodbye to the "I don't know, what do you want to do?" scenario Funight introduces variety and excitement, making every date night a memorable experience.</p>
                <br />

                <h2 text="bold">Features You'll Love:</h2>
                <p>User-Friendly Interface: Our intuitive design makes navigation a breeze. Whether you're a tech whiz or a casual user Funight is accessible for everyone.</p>
                <p>Endless Possibilities: With a vast database of ideas, you'll never run out of options. From classic movie nights to creative at-home spa experiences Funight has it all.</p>
                <p>Your Ideas, Your Rules: Add your personal touch by incorporating your own ideas into our selection blocks Funight adapts to your preferences, ensuring a truly unique experience.</p>
                <p>No More Decision Fatigue: Let Funight take the lead, so you can focus on what matters most – enjoying quality time with your loved ones.</p>
                <br />

                <p>Funight is more than a website; it's your partner in creating moments that matter. Join us today and elevate your date night game to new heights! Because when it comes to creating memories, Funight has got your back.</p>
                <h2>Are you ready to enjoy funight?</h2>
                
                <button id="releaseButton">I'm Ready!!!</button>
                <a href="Pages/login.html">Log In</a><a href="Pages/register.html">Register</a>
            </div>
            <script src="design/ready.js"></script>
        </section>
    </form>
{% endblock %}