{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Your Funight History!</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Meals</th>
                <th>Desserts</th>
                <th>Activities</th>
                <th>Ways to End the Night</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for all in history %}
            <tr>
                <td>{{ history.meals }}</td>
                <td>{{ history.desserts }}</td>
                <td>{{ history.activities }}</td>
                <td>{{ history.endofnight }}</td>
                <td>{{ history.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
