{% extends "layout.html" %}

{% block title %}
    Indoor vs Outdoor
{% endblock %}

{% block main %}
    <h2>What are we feeling today?</h2>
    <h2>Indoor? or Outdoor?</h2>
    <form action="/inout" method="post">
        <button href="in.html" class="btn btn-primary" type="submit">Indoor</button>
        <div id="vs">VS</div>
        <button href="out.html" class="btn btn-primary" type="submit">Outdoor</button>
    </form>
    <div id="gif-container">
        <img id="gif" src="" alt="Random Gif">
    </div>
    <script src="versus.js"></script>
{% endblock %}
