{% extends "layout.html" %}

{% block title %}
    Outdoor Fun
{% endblock %}

{% block main %}
    <h2>What are we feeling today?</h2>
    <div id="meal" class="category">Meal: <span id="meal-result"></span></div>
    <div id="dessert" class="category">Dessert: <span id="dessert-result"></span></div>
    <div id="activity" class="category">Activity: <span id="activity-result"></span></div>
    <div id="ending" class="category">Ways to End the Night: <span id="ending-result"></span></div>

    <div id="result"></div>
    <div id="loading">Generating result...</div>

    <button id="regenerate-btn" onclick="generateResult()">Re-generate</button>

    <script src="generateout.js"></script>
{% endblock %}
