<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

        <link href="/design/styles.css" rel="stylesheet">

        <title>Funight: About Us</title>
    </head>

    <body>
        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="#190482">F</span><span class="#7752FE">U</span><span class="#8E8FFA">N</span><span class="#610C9F">N</span> <span class="#940B92">I</span><span class="#E95793">G</span><span class="#DA0C81">H</span><span class="#610C9F">T</span><span class="#190482">!</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="Pages/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="Pages/history">History</a></li>
                            <li class="nav-item"><a class="nav-link" href="Pages/personalize">Personalize</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                </div>
            </div>
        </nav>

        <video autoplay muted loop>
            <source src="/workspaces/funight/multicolored-clouds.1920x1080.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>

        <main class="container-fluid py-5 text-center">
            <header></header>
            <section>
                <form action="/about"></form>
                <div class="container">
                    <h1>About Us</h1>
                    <h2>Welcome to Funight! Your Ultimate Date Night Generator!!!</h2>
                    <br />
    
                    <h2 text="bold">How It Works:</h2>
                    <p>Indoor or Outdoor? Choose your preferred setting: a cozy night indoors or an adventurous evening outdoors. We've got ideas for every mood.</p>
                    <p>Randomly Generated Ideas: Click the magic "Generate" button, and voila Funight will present you with a random selection of ideas, ensuring spontaneity and fun in every decision.</p>
                    <p>Customization: Your preferences matter! Add your favorite meal and dessert options, suggest activities you love, and define how you want to wrap up the night Funight isn't just a tool; it's an extension of your unique relationship.</p>
                    <p>Experience History: Was there a funight experience you particularly liked? It'll show up in your history! Save those funight experiences for easy recall and recreate those memories!</p>
                    <p>Banish the Mundane: Say goodbye to the "I don't know, what do you want to do?" scenario Funight introduces variety and excitement, making every date night a memorable experience.</p>
                    <br />
    
                    <h2 text="bold">Features You'll Love:</h2>
                    <p>User-Friendly Interface: Our intuitive design makes navigation a breeze. Whether you're a tech whiz or a casual user Funight is accessible for everyone.</p>
                    <p>Endless Possibilities: With a vast database of ideas, you'll never run out of options. From classic movie nights to creative at-home spa experiences Funight has it all.</p>
                    <p>Your Ideas, Your Rules: Add your personal touch by incorporating your own ideas into our selection blocks Funight adapts to your preferences, ensuring a truly unique experience.</p>
                    <p>No More Decision Fatigue: Let Funight take the lead, so you can focus on what matters most – enjoying quality time with your loved ones.</p>
                    <br />
    
                    <p>Funight is more than a website; it's your partner in creating moments that matter. Join us today and elevate your date night game to new heights! Because when it comes to creating memories, Funight has got your back.</p>
                    <h2>Are you ready to enjoy funight?</h2>
    
                    <button id="releaseButton">Yes! But Balloons first!</button>
                    <br />
                    <a href="login.html">Log In</a><p>or</p><a href="register.html">Register</a>
                </div>
                <script src="design/ready.js"></script>
            </section>
        </main>

        <footer class="mb-5 small text-center text-muted">
            Live Wallpaper by <a href="https://motionbgs.com/multicolored-clouds">motionbgs</a>
        </footer>
    </body>
</html>